.Demo__some-network{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
  }
  .css-de9k3v-MuiDataGrid-selectedRowCount {
    visibility: hidden !important;
    width: auto;
    height: auto;
}
/* Add yellow background color to the rows in the top and bottom containers of DataGrid */
.css-1uq4l08-MuiDataGrid-root .MuiDataGrid-container--top [role=row],
.css-1uq4l08-MuiDataGrid-root .MuiDataGrid-container--bottom [role=row] {
    background-color: #CA8A04 !important; /* Ensures yellow background */
}
.css-1qb993p-MuiDataGrid-columnHeaderTitle{
  color: white !important;
}